Django==5.1.4
gunicorn==22.0.0
redis==5.0.8
psycopg==3.2.1
cryptography==43.0.0
django-cryptography==1.1
python-gnupg==0.5.4
celery==5.4.0
prometheus-client==0.20.0
argon2-cffi==23.1.0
bitcoinlib==0.7.4
monero==1.1.1
Pillow==11.0.0
factory-boy==3.3.0
django-ratelimit==4.1.0
flake8==7.1.0
black==24.4.2
isort==5.13.2
bandit==1.7.8
pytest-django==4.11.1
hvac==2.3.0
redis-lock==0.2.0
tqdm==4.66.5
ecdsa==0.19.0
django-environ==0.11.2
django-redis==5.4.0
python-magic==0.4.27
paramiko==3.4.0
